

body {
    background-color: black;
}

.dark {
    max-width: 400px;
    margin-left: auto;
    margin-right: 50%;
}

table {
    background-color: #ffcf00;
    position: center;
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid
}

    td:hover {
        background-color: yellowgreen;
    }
.b a:link {
    text-decoration: none;
    color: black;
    border-block-style: inherit;
    
}
.b a:active {
    text-decoration: none;
    color: black;
}
.b a:visited {
    text-decoration: none;
    color: black;
} 

 

.b a:hover {
    background: #FFCF00;
    text-transform: uppercase;
    color: black
}

.b {
    text-align: center;
}

.b a {
    color: black;
    background-color:rgba(225,225,225,0.5) ;
    border: solid;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 5px;
    padding-inline: 10px;
    width: 100px;
    height: 25px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: from-font;
    color: white;
}
